header {
    background-image: url(../img/fundo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(50, 70%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.27);
    color: var(--preto);
}

div a h2 {
    align-items: center;
    display: inline-block;
    margin: 30px;
}

.text a{
    text-decoration: none;
    color: var(--preto);
}